%heder.i_header
  .i_headerinner
    .imainheader
      %h1.i_icon
      .i_searchbox
    .i_menu
%nav.i_nav
.i_mainbox
  .i_mainscreen
    .i_main
      .i_main_top
      %ul.i_links
      .i_relateditem
%asside.i_app_box
  .i_app_inner
    .i_app_inner__title
    %p.i_app_inner__text
    .i_app_inner__icon
.i_footer
  %ul.i_contents
    .i_content
      %h.i_content_head
      

%a{ :href => '#'}